.header {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  padding: 10px 0;
  row-gap: 2em;
  margin-bottom: 1em;

  @media (min-width: $mobile) {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
  }
}

.header__link {
  text-decoration: none;
  color: $text-colour;

  &:focus,
  &:active {
    outline: 2;
  }
}

.header__title {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  position: relative;
}

.header__subtitle {
  font-style: italic;
  position: absolute;
  top: 25%;
  left: 74px;
  color: $subtitle;
  font-weight: 600;
}


.header__menu {
  display: none;
  grid-template-columns: 1fr;
  position: relative;
  z-index: 20;
  row-gap: 2em;  
  opacity: 0;
  transition: .2s ease-in-out;
  display: none;

  @media (min-width: $mobile) {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    opacity: 1;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: $mobile) {
    &--open {
      display: grid;
      opacity: 1;
      box-shadow: 0 72vh 0 50vh $text-secondary-colour;
    }
  }


}


.menu__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1.25em;

  @media (max-width: $mobile) {
    flex-direction: column;
    gap: .8em;
  }
}

.menu-item {
  font-size: 20px;
}


.header__buttons {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 1em;
  justify-items: flex-start;
}


.language-switcher {
  display: flex;
  list-style: none;
  gap: .8em;
}


.language-switcher-item {
  display: inline-block;
  width: 60px;
  height: 40px;
  border: 1px solid $text-colour;
  border-radius: 5px;
  background-color: $lang-button-bg;
  color: $text-colour;
  font-size: 16px;
  text-align: center;
  margin-right: 5px;
  padding-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: .4s linear;
  opacity: .5;

  &:hover {
    background-color: $text-colour;
    color: $lang-button-bg;
    opacity: 1;
  }

  &--active {
    opacity: 1;
  }

}


.theme-switcher {
  display: inline-block;
  width: 60px;
  height: 40px;
  border: 1px solid $text-colour;
  border-radius: 5px;
  background-color: $theme-button;
  color: $text-colour;
  font-size: 16px;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: .4s linear;

  &:hover {
    background-color: $button--hover;
  }
}