html {
  --border-radius-card: 8px;
  --padding-card: 10px;
  --aspect-ratio-card: 1/1;
  --overlay-direction: 0deg;
  --overlay-color: rgba(0, 0, 0, 0);
  --card-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  --gap-card: 8px;
  --radius-button: 10px;
  --color-button: #6d7bf8;
  --aspect-ratio-image: 1/1;
  --justify-content-value: flex-end;
  --align-items-value: flex-start;
  --text-align-value: start;
  --margin-top-subtitle: 0;
  --margin-inline-value: 0 auto;
  --card-side-margin: ;
  --card-image-position:  absolute;
  --card-image-object-fit: cover;
  --card-title-color: #fff;
  --card-subtitle-color: #fff;  

}


html[card-style=stacked] {
  --border-radius-card: 8px;
  --padding-card: 10px;
  --aspect-ratio-card: 1/1;
  --overlay-direction: 0deg;
  --overlay-color: rgba(0, 0, 0, 0);
  --card-text-shadow: none;
  --gap-card: 16px;
  --radius-button: 10px;
  --color-button: #6d7bf8;
  --aspect-ratio-image: 1/1;
  --justify-content-value: flex-end;
  --align-items-value: stretch;
  --text-align-value: start;
  --margin-top-subtitle: 0;
  --margin-inline-value: ;
  --card-side-margin: 16px;
  --card-image-position: ;
  --card-image-object-fit: cover;
  --card-title-color: #111;
  --card-subtitle-color: #333;
}


.card {
  background-color: var(--theme-button);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: var(--justify-content-value);
  align-items: var(--align-items-value);
  min-height: 254px;
  width: 340px;
  border-radius: var(--border-radius-card);
  overflow: hidden;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.09);
  aspect-ratio: var(--aspect-ratio-card);
  text-align: var(--text-align-value);
}

.card-content {
  z-index: 1;
  text-shadow: var(--card-text-shadow);
  padding: var(--padding-card);
}


.image-wrap {
  position: absolute;
  inset: 0;
}


.card-title {
  font-weight: 700;
  font-size: 20px;
  color: var(--card-title-color);
  margin-bottom: 16px;
}

.card-subtitle {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--card-subtitle-color);
}

.gradient {
  background: linear-gradient(var(--overlay-direction), rgba(0, 0, 0, 0.94) 0%, var(--overlay-color) 64.17%);
  height: 100%;
  width: 100%;
  opacity: 0.4;
  position: absolute;
  z-index: 1;
  inset: 0;
}

.card-image {
  display: block;
  max-width: 100%;
  object-fit: var(--card-image-object-fit);
  position: var(--card-image-position);
  inset: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: var(--aspect-ratio-image);
}


.stacked {
  background-color: var(--theme-button);
  padding: 0;

  & > .card-content {
    text-shadow: revert !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & > .image-wrap {
    position: revert;
    inset: 0;
  }

  & > .card-title {
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 16px 0;
  }

  & > .card-subtitle {
    font-weight: 400;
    display: block;
    font-style: normal;
    margin-top: var(--margin-top-subtitle);
  }
  & > .card-side {
    margin-top: var(--card-side-margin);
  }
}


.card-content-wrapper {
  display: block !important;
  text-align: center;
}


.card-button {
  display: block;
  margin-inline: auto;
  border: none;
  background: var(--color-button);
  color: white;
  padding: 8px 16px;
  border-radius: var(--radius-button);
  cursor: pointer;
  margin-top: 2em;
}


.dropdown-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tag {
  position: absolute;
  top: 24px;
  background: var(--button-active);
  padding: 8px 16px;
}

.topLeft {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
