.game_body {
  display: flex;
  justify-content: space-around;
  line-height: 1.5;
  @media (max-width: $mobile) {
    flex-direction: column-reverse;
  }

  code {
    background-color: rgba(199, 199, 199, 0.205);
  }
}

/* -- INFO -- */

.game_menu {
  padding: 30px;
  width: 45vw;
  @media (max-width: $mobile) {
    width: 95vw;
  }
}

.game_header {
  position: relative;
}

.game_level {
  position: absolute;
  top: 5px;
  right: 15px;
}

.game_subheader {
  font-weight: 500;
  margin-bottom: 30px;
}

.game_list {
  list-style-type: circle;
  padding-left: 30px;
}

/* -- CODE -- */

.game_code-field {
  display: flex;
  margin: 30px auto;
  font-family: monospace;
  font-size: 14px;
  letter-spacing: 1px;
}

.line-numbers {
  background-color: rgba(72, 73, 73, 0.3);
  border: 1px solid rgb(184, 184, 184, 0.3);
  padding: 5px;
}

.code-field {
  position: relative;
  background-color: rgba(135, 141, 140, 0.3);
  border: 1px solid rgb(184, 184, 184, 0.3);
  padding: 5px;
  width: 80%;
}

.code_indent {
  padding-left: 20px;
}

.game_code_input {
  width: calc(100% - 20px);
  height: 24px;
  font-family: monospace;
  font-size: 14px;
  letter-spacing: 1px;
}

.game_btn {
  font-size: large;
  padding: 6px;
}

.game_btn:disabled {
  color: rgba(184, 184, 184, 0.37);
}

.game_next_btn {
  width: 80px;
  height: 30px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: rgb(255, 195, 127, 0.8);
  border-radius: 10px;
  border: none;
}

/* -- FIELD -- */

.game_field {
  position: relative;
  margin: 20px;
  width: 45vw;
  max-width: 800px;
  height: 35vw;
  max-height: 800px;
  background-color: rgba(192, 192, 192, 0.377);
  border: 0.5px solid rgba(102, 110, 109, 0.3);
  border-radius: 5px;
  @media (max-width: $mobile) {
    width: 95vw;
    height: 50vh;
    margin: 0 auto;
  }
}

.field_deadline {
  height: 100%;
}

.fire {
  display: flex;
  height: 100%;
}

.fire_yellow {
  background-color: yellow;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px;
}

.fire_red {
  background-color: rgb(255, 72, 0);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px;
}

.fire_blue {
  background-color: rgb(0, 162, 255);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px;
}

.sloths {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex; 
}

.sloth_yellow {
  background-color: rgb(230, 120, 31);
  width: 60px;
  height: 60px;
  margin: 30px;
  border-radius: 50%;
}

.sloth_red {
  background-color: rgb(230, 89, 84);
  width: 60px;
  height: 60px;
  margin: 30px;
  border-radius: 50%;
}

.sloth_blue {
  background-color: rgb(31, 117, 230);
  width: 60px;
  height: 60px;
  margin: 30px;
  border-radius: 50%;
}

.game_disclaimer {
  font-size: small;
  a {
    color: $text-colour;
    text-decoration: none;
  }
}